aside.wrapper__sidebar {
    display: none;
}

main.wrapper__main {
    margin: auto;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer__base {
    display: unset;
    margin-top: auto;
}

.wrapper__main > .post:nth-child(2) {
    margin-top: 50px;
}
