* {
    overflow-wrap: break-word;
}

aside.wrapper__sidebar {
    display: none;
}

main.wrapper__main {
    margin: auto;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer__base {
    display: unset;
    margin-top: auto;
}

.wrapper__main > .post:nth-child(2) {
    margin-top: 50px;
}

.terms-tags li {
    display: inline-block;
    margin: 10px;
    font-weight: 500;
}

.terms-tags a {
    display: block;
    padding: 3px 10px;
    background: var(--tertiary);
    border-radius: 6px;
    transition: transform 0.1s;
}

.terms-tags a:active {
    background: var(--tertiary);
    transform: scale(0.96);
}

.archive__list-item {
    flex-wrap: wrap;
}

.mod_posts_list_content {
    flex: none;
    width: 100%;
}

.mod_posts_list_content > .post__footer {
    margin: 0;
    padding: 0;
    border: none;
    line-height: 14px;
}

.theme--light .mod_post_taxonomy a {
    color: #9f9f9f;
}

.theme--dark .mod_post_taxonomy a {
    color: #9f9f9f;
}

.series {
    display: inline-block;
    font-size: 1.4rem;
    margin: 5px 8px 5px 0;
}

.nav__list--end>.nav__list-item {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#fastSearch { 
    visibility: hidden;
    max-width: 600px;
    white-space: normal;
    text-transform: none;
    text-align: justify;
    min-width: 22vw;
    position: relative;
}      

#fastSearch input {
    width: 100%;
    font-size: 1.2em;
    font-weight: 400;
    border-radius: 3px 3px 0 0;
    border: none;
    outline: none;
    text-align: left;
    display: inline-block;
    background-color: #ebebeb;
    padding: 10px;
    box-sizing: border-box;
}

#searchResults {
    visibility: inherit;
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    min-width: 22vw;
}

.theme--light #searchResults {
    background-color: #fff;
}

.theme--dark #searchResults {
    background-color: #152028;
}

#searchResults li {
    list-style: none;
    background-color: #ebebeb;
    margin-top: 2px;
    width: 100%;
}

#searchResults a {
    text-decoration: none!important;
    padding: 10px 15px;
    display: block;
}

#searchResults li .title { 
    font-size: 1.1em;
    margin-bottom: 10px;
    display: inline-block;
}

.theme--dark #searchResults a {
    background-color: #20313c;
}

#searchResults a:hover, a:focus { 
    outline: 0; background-color: #9f9f9f; color: #fff; 
}

.theme--dark #searchResults a:hover, a:focus {
    background-color: #324c5d;
}

#comment>h2 {
    font-size: 2rem;
    margin-top: 60px;
}
